<aside>

    <section> 
        <img class = "circle" src={{ user.get('image_url') }} width=60 height=60 alt={{ "profile pic for " + user.get('username') }}/> 
        <h1> {{ user.get('username') }} </h1>
    </section>  

    <div class = "recos">

        <h2> Suggestions for you </h2> 

        {% for suggest in suggestions %}
            <section class = "reco-person"> 
                <div class = "not-follow">
                    {% set alt_text = "picture posted by " + suggest.get('username') %}
                    <img class = "circle" src={{ suggest.get('image_url') }}  width=40 height=40 alt="{{ alt_text }}"/> 
                    <ul>
                        <li> {{ suggest.get('username') }} </li>
                        <li> <a> suggested for you </a> </li>
                    </ul>
                </div>
                <a href="#follow">follow</a>
            </section>
        {% endfor %}
        
    </div>

</aside>