<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa" />
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    {% include 'includes/navbar.html' %}

    {% include 'includes/suggestions.html' %}

    {% include 'includes/stories.html' %}

    {% include 'includes/cards.html' %}
  
</body>

</html>

<!-- 
    How to add a feature so users can easily add alt-text to their images: 
    I would include two features, one for when posting and one for editing the post, similar to the mechanism that Instagram has: 
    1) When starting a new post, include a place to write alt text right under the "write a caption..." area: this text would be added within the corresponding <img> tag in the html file as alt=... (similar to how captions would be added within <span> tags in my file)
    2) Include a second icon in the top right (next to the ellipsis icon) which corresponds to adding alt text: simply clicking that icon and typing in text would add the text to the corresponding <img> tag as alt=...
-->